body {
    background-color: #00ced1;
}

.App {
    background-color: #191970;
    min-height: 500px;
    width: 400px; 
    margin: 40px auto;
}

#todo-form input {
    background-color: #6b7773;
    border: 0;
    width: 300px;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    color: #fff;
}

#todo-form button {
  height: 40px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: brown;
  margin-left: 20px;
}